#snackbar {
  visibility: hidden;
  min-width: 220px;
  /*margin-left: -125px;*/
  margin:0 auto;
  background-color: rgb(255,255,255,0.95);
  /*color: #000;*/
  box-shadow: 0px 0px 5px #333;
  text-align: center;
  border-radius: 5px;
  padding: 16px;
  position: fixed;
 /* z-index: 999;*/
  left: 50%;
  transform: translateX(-50%);
  bottom: 100px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.not-found {
  color: #ccc;
  padding-left: 25px;
  padding-top: 12px;

}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 100px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 100px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 100px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 100px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}