<div class="slider-bar" id="slider-bar">
      <div class="logo"><img id='company_logo' src="assets/favicon.png"></div>
      <div class="feedback-a" id="module"></div>
      <div class="popup-overlay"></div>
      <div id="popup-screen"></div><!--Popup Screen Included Here-->
      <div id="search_include"></div>
      <div class="feedback-b">
        <span class="feed-icons">
            <i class="fa fa-search main-search" aria-hidden="true"></i>
        
          <!--  <i class="fa fa-bell-o" aria-hidden="true"></i> -->
          <i class="fa" id="my_notifications" aria-hidden="true"></i>
      
          
          <i class="fa fa-ellipsis-v dots" aria-hidden="true"></i>
          <div class="feed-list">
          <ul>
            <a href="#" class="open-profile"><li>
              <i class="fa fa-user-o" aria-hidden="true"></i> <span>View Profile</span>
            </li></a>
<!--
            <a href="#"><li>
              <i class="fa fa-user-o" aria-hidden="true"></i> <span>Profile</span>
            </li></a>
            <a href="#"><li>
              <i class="fa fa-inr" aria-hidden="true"></i> <span>Sponcers</span>
            </li></a>
            <a href="#"><li>
              <i class="fa fa-certificate" aria-hidden="true"></i> <span>Event Organisers</span>
            </li></a>
            <a href="#"><li>
              <i class="fa fa-line-chart" aria-hidden="true"></i> <span>Reports</span>
            </li></a>

-->          
<a  href="" class='version'><li>
              <i class="fa fa-cog" aria-hidden="true"></i> <span>version 1.0.10</span>
            </li></a>
<a  href="" class='lastdep'><li>
              <i class="fa fa-bolt" aria-hidden="true"></i> <span>LD 22-04-2019</span>
            </li></a>
                <a  href="javascript:localStorage.clear();window.location.href='index.html';Engagespot.clearUser();"><li>
              <i class="fa fa-sign-out" aria-hidden="true"></i> <span>Logout</span>
            </li></a>
            
          </ul>
        </div>
        </span>
<!--        <a href="javascript:localStorage.clear();window.location.href='/buzz/home';">Logout</a>-->
      </div>
</div>

<!-- <div id="chat_include"></div> -->
<script type="text/javascript" src="cordova.js"></script>
<script>
$.get("includes/search-bar.html", function(fileData){
          $('#search_include').html(fileData); 
          //console.log("search_bar")
        });
       var company_data = JSON.parse(localStorage.getItem("activation"));  
        //console.log(company_data);
        //console.log("//Company//");
       //$('#slider-bar').css('background-color',company_data.company.header_color);
       $('#slider-bar').css('background-image','linear-gradient(93deg,'+company_data.company.status_bar_color+','+company_data.company.header_color+')');
       $('#module').css('color',company_data.company.normal_text_color);
       $('#company_logo').attr('src',company_data.company.logo);
     // we're ready, include away
      $(window).ready(function(){

        if(localStorage.getItem('server')=='live'){
          $(".version").css('display','none');
          $(".lastdep").css('display','none');  
      }

        var company_info=JSON.parse(localStorage.getItem("activation"));
        $('#company_logo').attr('src',company_info.company.logo);

         
      $(".main-search").click(function(){
            $("#search_include").slideToggle("fast");

            $("#close-search").click(function(){
            $("#search_include").slideUp("fast");
             $(".search-list").fadeOut();     
           });
             $(".search-input").keyup(function(){
              $(".search-list").fadeIn('fast');
              
            });

            $("#search-input").on('keyup', function() {
              //$(".search-list").fadeIn('fast');
            // console.log('hi this is test ')
            // console.log($("#search-table").children().length);

            var value = $(this).val().toLowerCase();
             //console.log($(this).text().toLowerCase().indexOf(value));
            $("#search-table li").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
              

            });
            
          });

 
        //     $(document).delegate('#search-input', 'keyup', function() {
        //         // code

        //          var value = $(this).val().toLowerCase();
            
        //     $("#search-table li").filter(function() {
              

               
        //        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        //     });


        // });

        });


      $.get("includes/add-user-profile.html", function(fileData){
          $('#insert-profile').html(fileData); 
        });


    $(".open-profile").click(function(){
      $(".feed-list").slideToggle("fast");
       $("#insert-profile").fadeIn();
       $(".feed-overlay").fadeIn();
       $('body,html').css("overflow","hidden");

    var user_data = JSON.parse(localStorage.getItem("user_data"));

    document.getElementById("user_profile_pic").src = user_data.user.avatar;
    document.getElementById("user_old_profile_pic").src = user_data.user.avatar;
    document.getElementById("user_new_profile_pic").src = user_data.user.avatar;
    document.getElementById("profile_user_name").innerHTML = user_data.user.name; 
    });


      });     
      
      /*---------PopUp Start---------------*/
      $(window).on('load', function(){
          if((localStorage.getItem("popup") != 0 || localStorage.getItem("popup") != 1) && (company_data.company.activation_code != 'LK19') ){
            $('[data-toggle="tooltip"]').tooltip(); 
              $.get("includes/popup.html", function(fileData){
            setTimeout(function(){
              
              $("#popup-screen").html(fileData);
              $(".popup-overlay").fadeIn();
              $(".popup-section").css("transform","scale(1)")
              document.body.scrollTop = 0;
              document.documentElement.scrollTop = 0;
              $('body').css('overflow', 'hidden');
            },5000);    
                
             });
          }
        });

/*--------PopUp End-----------------*/
</script>


<!-- Start Web Push Notification -->
<script>
  if(localStorage.getItem('device_type')=='browser' || localStorage.getItem('device_type')==null){
  var user_data = JSON.parse(localStorage.getItem("user_data"));

  window.Engagespot={},q=function(e){return function(){(window.engageq=window.engageq||[]).push({f:e,a:arguments})}},f=["captureEvent","subscribe","init","showPrompt","identifyUser","clearUser"];for(k in f)Engagespot[f[k]]=q(f[k]);var s=document.createElement("script");s.type="text/javascript",s.async=!0,s.src="https://cdn.engagespot.co/EngagespotSDK.2.0.js";var x=document.getElementsByTagName("script")[0];x.parentNode.insertBefore(s,x);Engagespot.init('gBjTXrZqbPBC4R5wm7AWEYE7lc4TAv');
Engagespot.identifyUser(user_data.user.id);
/*window.Engagespot={},q=function(e){return function(){(window.engageq=window.engageq||[]).push({f:e,a:arguments})}},f=["captureEvent","subscribe","init","showPrompt","identifyUser","clearUser"];for(k in f)Engagespot[f[k]]=q(f[k]);var s=document.createElement("script");s.type="text/javascript",s.async=!0,s.src="https://cdn.engagespot.co/EngagespotSDK.2.0.js";var x=document.getElementsByTagName("script")[0];x.parentNode.insertBefore(s,x);Engagespot.init('M0xsQEHRjh2WofVqsyHn4DYA2jADE0');
Engagespot.identifyUser(user_data.user.id);*/

//console.log('hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh')


myDivObj = document.getElementById("unreadNotificationCount");
setInterval(function(){
  //console.log(parseInt($('#unreadNotificationCount').html()));
  if(parseInt($('#unreadNotificationCount').html())>0){
   $('#openNC').attr('style','z-index: 0 !important; background: url("https://cdn.engagespot.co/images/bellIcon.svg") 2px 2px no-repeat; box-shadow: none; left: 0px; top: 0px;top: 16px !important');
   //console.log('fkdlasfjsla')
  }else{
    $('#openNC').attr('style','z-index: 0 !important; background: url("https://cdn.engagespot.co/images/bellIcon.svg") 2px 2px no-repeat; box-shadow: none; left: 0px; top: 0px;top: 21px !important');
  }
},1000)

}else{
  //alert('browser'+localStorage.getItem('device_type'));
console.log('browser'+localStorage.getItem('device_type'));
}
</script>
<!-- End Web Push Notification -->
