/* iCheck plugin Square skin, aero
----------------------------------- */
.icheckbox_square-aero,
.iradio_square-aero {
    display: block;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    background: url(aero.png) no-repeat;
    border: none;
    cursor: pointer;
	position:absolute;
	left:0;
	top:0;
}

.icheckbox_square-aero {
    background-position: 0 0;
}
    .icheckbox_square-aero.hover {
        background-position: -45px 0;
    }
    .icheckbox_square-aero.checked {
        background-position: -90px 0;
    }
    .icheckbox_square-aero.disabled {
        background-position: -135px 0;
        cursor: default;
    }
    .icheckbox_square-aero.checked.disabled {
        background-position: -180px 0;
    }

.iradio_square-aero {
    background-position: -108px 0;
}
    .iradio_square-aero.hover {
        background-position: -130px 0;
    }
    .iradio_square-aero.checked {
        background-position: -152px 0;
    }
    .iradio_square-aero.disabled {
        background-position: -364px 0;
        cursor: default;
    }
    .iradio_square-aero.checked.disabled {
        background-position: -410px 0;
    }

/* Retina support */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (-moz-min-device-pixel-ratio: 1.5),
       only screen and (-o-min-device-pixel-ratio: 3/2),
       only screen and (min-device-pixel-ratio: 1.5) {
    .icheckbox_square-aero,
    .iradio_square-aero {
        background-image: url(aero%402x.png);
        -webkit-background-size: 453px 42px;
        background-size: 453px 42px;
    }
    .iradio_square-aero {
    background-position: -103px -11px;
    border-radius: 50px;
    border:1px solid #333333;
}
.iradio_square-aero.hover {
        background-position: -130px 0;
    }
    .iradio_square-aero.checked {
        background-position: -152px 0;
    }
    .iradio_square-aero.disabled {
        background-position: -364px 0;
        cursor: default;
    }
    .iradio_square-aero.checked.disabled {
        background-position: -410px 0;
    }

    .icheckbox_square-aero.hover {
        background-position: -45px 0;
    }
    .icheckbox_square-aero.checked {
        background-position: -90px 0;
    }
    .icheckbox_square-aero.disabled {
        background-position: -135px 0;
        cursor: default;
    }
    .icheckbox_square-aero.checked.disabled {
        background-position: -180px 0;
    }
}