<div class="bottom-bar"><!--Bottom Navigation Bar Starts Here -->
 <div class="item col botm-feed">
 	<a href="feed.html" id="feed1"><i class="fa fa-bolt" aria-hidden="true"></i> <span id="feed2">Feed</span> <i class="fa fa-circle" id="listener_update_feed"></i></a>
 </div>

 <div class="item col botm-message">
 	<a href="message.html" id="message1" ><i class="fa fa-envelope-open" aria-hidden="true"></i> <span id="message2">Message</span> <i class="fa fa-circle" id="listener_update_message"></i></a>
 </div>

 <div class="item col botm-itinerary">
 	<a href="itinerary.html"  id="itinerary1"><i class="fa fa-th-list" aria-hidden="true"></i> <span id="itinerary2">Itinerary</span></a>
 </div>
 <div class="item col botm-survey">
 	<a href="survey.html" id="survey1"><i class="fa fa-bar-chart" aria-hidden="true"></i> <span id="survey2">Survey</span></a>
 </div>
</div><!--Bottom Navigation Bar Ends Here -->
<!-- <audio id="myAudio_feed">
  <source src="music/allbuttonclick.mp3" type="audio/mpeg">
</audio> -->
<audio id="myAudio_message">
  <source src="music/text.mp3" type="audio/mpeg">
</audio>
<script src="chatcamp_js/ChatCamp.min.js"></script>
<script src="js/listener.js"></script>
<script type="text/javascript">
	if(localStorage.getItem("feed_dot") == 1){
		$('#listener_update_feed').css('color',company_data.company.header_color);
        $('#listener_update_feed').css('visibility','visible');
}else if(localStorage.getItem("message_dot") == 1){
		$('#listener_update_message').css('color',company_data.company.header_color);
        $('#listener_update_message').css('visibility','visible');
}
</script>

