<div class="caption-screen" ><!--Caption Screen Enables on Click of Gallery Button-->
  <div class="caption-wrapper">
    <div class="red-bar">
      <img src="assets/close-icon.svg" class="close-post"> <span>Feed Post</span>
    </div>
    <div class="image-holder" id="user-image">
      <div id="myProgress">
        <div id="myBar"></div>
      </div>
      <img class="caption-image" id='caption-image2' src="assets/loader.gif">
      <video class="video" width="100%" style="height:calc(100% - 60px)" controls >
        <source src="movie.mp4" type="video/mp4" id="caption-video2">
        <source src="movie.ogg" type="video/ogg">
      </video>
      <div class="caption-text">
        <form class="comment-form" autocomplete="off">
           <div class="form-group">
             <input type="text" class="form-control" placeholder="Post a Comment..." id="text_with_attachment" value="">
           </div>
           <button class="comment-button" id="send-attachment" type="button"><img src="assets/comment-icon.svg"></button>
        </form>
      </div>
    </div>
  </div>
</div><!--Caption Screen Enables on Click of Gallery Button-->


<script type="text/javascript">
  
  var company_data = JSON.parse(localStorage.getItem("activation"));  

       $('.red-bar').css('background-color',company_data.company.header_color);
       $('.red-bar').css('color',company_data.company.normal_text_color);
</script>