
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,900" rel="stylesheet">
<i class="bell-circle" id="bell_notify"></i><div class="notification_container_mobile">
	<div class="notification_header">
		<div class="row">
			<div class="col-xl-4 col-xs-4">
				<span id="clear_notification"> 
				</span>
			</div>
			<div class="col-xl-4 col-xs-4">
				<span> Notification </span>
			</div>
			<div class="col-xl-3 col-xs-3">
				<span id="notification_close">
				</span>
			</div>
		</div>
	</div>
	<div class="notification_body" id="notification_body">
		<!-- <img src="assets/no_notification-bee.png"> -->
		<!--<div class="row">
			<div class="notification_box">
				<div class="row">
					<div class="col-xl-2 col-xs-2">
						<div class="users_image">
							<img src="assets/user.png">
						</div>
					</div>
					<div class="col-xl-8 col-xs-8">
						<div class="users_notification">
							<p> New Comment on Feed </p>
							<p> "Kinjalk" comment's on your Feed, "hi". </p>
						</div>
					</div>
					<div class="col-xl-2 col-xs-2">
						<div class="users_action">
							<img src="assets/cross.png">
							<span> 2d </span>
						</div>
					</div>
				</div>
			</div>
			<div class="notification_box">
				<div class="row">
					<div class="col-xl-2 col-xs-2">
						<div class="users_image">
							<img src="assets/user.png">
						</div>
					</div>
					<div class="col-xl-8 col-xs-8">
						<div class="users_notification">
							<p> New Comment on Feed </p>
							<p> "Kinjalk" comment's on your Feed, "hi". </p>
						</div>
					</div>
					<div class="col-xl-2 col-xs-2">
						<div class="users_action">
							<img src="assets/cross.png">
							<span> 2d </span>
						</div>
					</div>
				</div>
			</div>
			<div class="notification_box">
				<div class="row">
					<div class="col-xl-2 col-xs-2">
						<div class="users_image">
							<img src="assets/user.png">
						</div>
					</div>
					<div class="col-xl-8 col-xs-8">
						<div class="users_notification">
							<p> New Comment on Feed </p>
							<p> "Kinjalk" comment's on your Feed, "hi". </p>
						</div>
					</div>
					<div class="col-xl-2 col-xs-2">
						<div class="users_action">
							<img src="assets/cross.png">
							<span> 2d </span>
						</div>
					</div>
				</div>
			</div>
			<div class="notification_box">
				<div class="row">
					<div class="col-xl-2 col-xs-2">
						<div class="users_image">
							<img src="assets/user.png">
						</div>
					</div>
					<div class="col-xl-8 col-xs-8">
						<div class="users_notification">
							<p> New Comment on Feed </p>
							<p> "Kinjalk" comment's on your Feed, "hi". </p>
						</div>
					</div>
					<div class="col-xl-2 col-xs-2">
						<div class="users_action">
							<img src="assets/cross.png">
							<span> 2d </span>
						</div>
					</div>
				</div>
			</div>
			<div class="notification_box">
				<div class="row">
					<div class="col-xl-2 col-xs-2">
						<div class="users_image">
							<img src="assets/user.png">
						</div>
					</div>
					<div class="col-xl-8 col-xs-8">
						<div class="users_notification">
							<p> New Comment on Feed </p>
							<p> "Kinjalk" comment's on your Feed, "hi". </p>
						</div>
					</div>
					<div class="col-xl-2 col-xs-2">
						<div class="users_action">
							<img src="assets/cross.png">
							<span> 2d </span>
						</div>
					</div>
				</div>
			</div>
			<div class="notification_box">
				<div class="row">
					<div class="col-xl-2 col-xs-2">
						<div class="users_image">
							<img src="assets/user.png">
						</div>
					</div>
					<div class="col-xl-8 col-xs-8">
						<div class="users_notification">
							<p> New Comment on Feed </p>
							<p> "Kinjalk" comment's on your Feed, "hi". </p>
						</div>
					</div>
					<div class="col-xl-2 col-xs-2">
						<div class="users_action">
							<img src="assets/cross.png">
							<span> 2d </span>
						</div>
					</div>
				</div>
			</div>
			<div class="notification_box">
				<div class="row">
					<div class="col-xl-2 col-xs-2">
						<div class="users_image">
							<img src="assets/user.png">
						</div>
					</div>
					<div class="col-xl-8 col-xs-8">
						<div class="users_notification">
							<p> New Comment on Feed </p>
							<p> "Kinjalk" comment's on your Feed, "hi". </p>
						</div>
					</div>
					<div class="col-xl-2 col-xs-2">
						<div class="users_action">
							<img src="assets/cross.png">
							<span> 2d </span>
						</div>
					</div>
				</div>
			</div><div class="notification_box">
				<div class="row">
					<div class="col-xl-2 col-xs-2">
						<div class="users_image">
							<img src="assets/user.png">
						</div>
					</div>
					<div class="col-xl-8 col-xs-8">
						<div class="users_notification">
							<p> New Comment on Feed </p>
							<p> "Kinjalk" comment's on your Feed, "hi". </p>
						</div>
					</div>
					<div class="col-xl-2 col-xs-2">
						<div class="users_action">
							<img src="assets/cross.png">
							<span> 2d </span>
						</div>
					</div>
				</div>
			</div>
			<div class="notification_box">
				<div class="row">
					<div class="col-xl-2 col-xs-2">
						<div class="users_image">
							<img src="assets/user.png">
						</div>
					</div>
					<div class="col-xl-8 col-xs-8">
						<div class="users_notification">
							<p> New Comment on Feed </p>
							<p> "Kinjalk" comment's on your Feed, "hi". </p>
						</div>
					</div>
					<div class="col-xl-2 col-xs-2">
						<div class="users_action">
							<img src="assets/cross.png">
							<span> 2d </span>
						</div>
					</div>
				</div>
			</div>
			<div class="notification_box">
				<div class="row">
					<div class="col-xl-2 col-xs-2">
						<div class="users_image">
							<img src="assets/user.png">
						</div>
					</div>
					<div class="col-xl-8 col-xs-8">
						<div class="users_notification">
							<p> New Comment on Feed </p>
							<p> "Kinjalk" comment's on your Feed, "hi". </p>
						</div>
					</div>
					<div class="col-xl-2 col-xs-2">
						<div class="users_action">
							<img src="assets/cross.png">
							<span> 2d </span>
						</div>
					</div>
				</div>
			</div>
		</div>-->
	</div>
	<div class="clear_notification">
		<p> Are you sure you want to clear all notifications </p>
		<div class="btn-group">
			<button class="clearcheck" data-check="1"> Yes </button>
			<button class="clearcheck" data-check="0" id="clear_notification_no"> No </button>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function(){

	if(localStorage.getItem("bell_notify_dot") == 1){
    $('#bell_notify').css('visibility','visible');
	}

	 $("#notification_close").click(function(){
      	$(".popup-overlay").fadeOut('fast',function (){
      		$(".clear_notification").fadeOut('fast');
	      	//console.log("//////////////close fadeout////");
	     	$(".notification_container_mobile").fadeOut('fast');
	     	//console.log("//////////////notification_container_mobile fadeout////");
    	});
    	check_close = 1;
      });
  $("#clear_notification").click(function(){
    $(".notification_body").fadeOut('fast',function (){
      $(".clear_notification").fadeIn();
    });
  });
  $("#clear_notification_no").click(function(){
    $(".clear_notification").fadeOut('fast',function (){
      $(".notification_body").fadeIn();
    });
  });

$('.clearcheck').on("click",function(){
  if($(this).data("check")){
  	if(localStorage.getItem('my_notify')){localStorage.removeItem('my_notify');}
  	document.getElementById("notification_body").innerHTML = '';
  	$(".clear_notification").fadeOut('fast',function (){
      $(".notification_body").fadeIn();
    });

  }
  

 });

});
</script>