<div class="options-bar"><!--Bottom Navigation Bar Starts Here -->
     <div class="row">
       <div class="top-row col">
        <a  class="deactivate"><img src="assets/game-icon.svg"> <span class="deactivate">Games</span></a>
      </div>

      <div class="top-row col">
        <a class="deactivate"><img src="assets/poll-icon.svg"> <span class="deactivate">Poll</span></a>
      </div>
      

      <div class="top-row col">
        <a id='yellow_notification' class="notification"><img src="assets/bell-icon.svg"> <span>Notification</span></a>
      </div>
      
     </div>
     <div class="row">
      <div class="top-row col mobile-open-file">
        <a id='yellow_new_img_post' ><input type="file" name="fileupload" value="fileupload" id="mobilefileupload" class="fileupload "> <img src="assets/galary-icon.svg"> <span>Gallery</span></a>
      </div>

      <div class="top-row col">
        <a id='yellow_camera' class="deactivate"><input type="text" accept="image/*" capture="camera"><img src="assets/camera-icon.svg"> <span class="deactivate" >Camera</span></a>
      </div>

      <div class="top-row col">
        <a id='yellow_new_post'  class="new-post"><img src="assets/message-icon.svg"> <span> New Post</span></a>
      </div>
      
     </div>

     <!-- <a class='open-camera'><li id='upload'><img src='assets/camera-icon.svg'> Camera <input type='file' name='camera-file' value='camera-file' id='camera-file' accept='image/*' capture='camera'></li></a> -->

</div><!--Bottom Navigation Bar Ends Here -->

<script type="text/javascript">
      $(".mobile-open-file").click(function(){
        $(".plus-icon").html("+");
                        $(".options-bar").animate({
                              'height':'toggle',
                              'border-radius':'0px',
                      });    
                        
        // $(".caption-screen").fadeIn("fast");
        // $(".feed-overlay").fadeIn("fast");
        console.log("PrashnGT")
         //  $("#mobilefileupload").click(function() {
         //   $("input[type='file']").trigger('click');
         //   console.log("Prashant Shakya")
         // });

        var final_file;

// Add events
$('#mobilefileupload').on('change', prepareUpload);

// Grab the files and set them to our variable
function prepareUpload(event)
{
 final_file = event.target.files[0];
 console.log("final_file on change")
   console.log(final_file)
   if(final_file){
      $(".caption-screen").fadeIn("fast");
      $(".feed-overlay").fadeIn("fast");
   }
   //file=final_file
   function readFile(file1) { 
    
    var FR= new FileReader();
    
    FR.addEventListener("load", function(e) {
      //document.getElementById("caption-image2").src       = e.target.result;
       
             document.getElementById("caption-image2").src       = e.target.result;
       
      // document.getElementById("b64").innerHTML = e.target.result;
      //$(".caption-image").attr('src',e.target.result);
      console.log(e.target.result)
    }); 
    
    FR.readAsDataURL(file1);
    }

    var check_video_status=(final_file.type).search('video');
                     console.log("video staus")
                     console.log(check_video_status)

                     var check_img_status=(final_file.type).search('image');
                     console.log("image staus")
                     console.log(check_img_status)
                    if(check_img_status==0){
                      sessionStorage.setItem("attachment_send_type",1);
                             readFile(final_file)
                    }else if(check_video_status==0){
                      $('#caption-image2').css('display','none')
                      $('.video').css('display','block')

                     sessionStorage.setItem("attachment_send_type",2);
                        var $source = $('#caption-video2');
                        $source[0].src = URL.createObjectURL(this.files[0]);
                        $('#caption-video2').data('object',this.files[0]);
                        $source.parent()[0].load();
                       

                    }


   //readFile(final_file)
   
}
      });
</script>






















<script type="text/javascript">
   

   var user_data = JSON.parse(localStorage.getItem("user_data"));
        var user_role_access;
        var user_info = user_data.user;

        if(user_info.user_role=='1'){
         user_role_access=user_data.app_info.company_role.role_viewer;
        }else if(user_info.user_role=='2'){
            user_role_access=user_data.app_info.company_role.role_participant;
        }else if(user_info.user_role=='3'){
            user_role_access=user_data.app_info.company_role.role_event_manager;
        }else if(user_info.user_role=='4'){
            user_role_access=user_data.app_info.company_role.role_spoc;
        }
        var crt_new_post='new-post';
        if(user_role_access.can_create_new_text_post==0){
          crt_new_post='deactivate';
          $('#yellow_new_post').attr('class', crt_new_post);

        }

        var crt_new_img_post='mobilefileupload';
        var img_input_type='file';
        if(user_role_access.can_create_new_image_post==0){
          crt_new_img_post='deactivate';
          img_input_type='text';
          $('#mobilefileupload').attr('type',img_input_type);
          $('#yellow_new_img_post').attr('class', crt_new_img_post);

        }
           var send_notification_status='notification';
        if(user_role_access.can_create_new_new_quick_notification==0){
             send_notification_status='deactivate';
            
              $('#yellow_notification').attr('class', send_notification_status);
        }
</script>