

<div class="poll-result-container">
	<span class="close"><img src="assets/cross.png"></span>
		<h3> Poll Result </h3>
		<div class="result-list" id="result_details_user_wise">
		<!-- <div class="result-box">
			<p> <strong> Ravi </strong>  dolor sit amet, consectetur adipisicing elit. Totam suscipit veniam non magni similique.</p>
			<p> <strong> Amit </strong>  Yes </p>
			<p> <strong> Kinjalk </strong>  No </p>
			<p> <strong> Prbhakar </strong>  dolor sit amet, consectetur adipisicing elit. Totam suscipit veniam non magni similique. </p>
			<p> <strong> Amit </strong>  Yes </p>
			<p> <strong> Kinjalk </strong>  No </p>
			<p> <strong> Prbhakar </strong>  dolor sit amet, consectetur adipisicing elit. Totam suscipit veniam non magni similique. </p>
			<p> <strong> Prbhakar </strong>  dolor sit amet, consectetur adipisicing elit. Totam suscipit veniam non magni similique. </p>
			<p> <strong> Amit </strong>  Yes </p>
			<p> <strong> Kinjalk </strong>  No </p>
		</div> -->

		<!-- <div class="result-list">
			<div class="result-box">
				 <img src="assets/user.png"> 
					<strong> Name: </strong>
				<p> dolor sit amet, consectetur adipisicing elit. Totam suscipit veniam non magni similique.</p>
			</div>
			<div class="result-box">
				<img src="assets/user.png"> <strong> Name: </strong><p> Yes </p>
			</div>
			<div class="result-box">
				 <img src="assets/user.png"> <strong> Name: </strong>
				<p> No </p>
			</div>
			<div class="result-box">
				<img src="assets/user.png"> <strong> Name: </strong>
				<p> dolor sit amet, consectetur adipisicing elit. Totam suscipit veniam non magni similique. </p>
			</div>
			<div class="result-box">
				<img src="assets/user.png"> <p> Yes </p>
			</div>
			<div class="result-box">
				<img src="assets/user.png"><p>  No </p>
			</div>
			<div class="result-box">
				<img src="assets/user.png"> <p> dolor sit amet, consectetur adipisicing elit. Totam suscipit veniam non magni similique. </p>
			</div>
			<div class="result-box">
				 <img src="assets/user.png"> <p> dolor sit amet, consectetur adipisicing elit. Totam suscipit veniam non magni similique. </p>
			</div>
			<div class="result-box">
				 <img src="assets/user.png"> <p> Yes </p>
			</div>
			<div class="result-box">
				 <img src="assets/user.png"> <p> No </p>
			</div>
		</div> -->
	</div>
		<a href="javasript:void(0);" class="poll-result-back"> <i class="fa fa-angle-double-left" aria-hidden="true"></i> Back </a>
</div>