
<!---- multiple polls ---->
<link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,700" rel="stylesheet">
	<div class="poll-container" id="poll-container">
		<!-- <span class="close"><img src="assets/cross.png"></span>
		
			
		
		
		<div class="poll-grid" id="poll-layout-one" style="display:block;">
			<p>Who is the Best Batsmen in IPL 2019?</p>
			<div class="row">
				<div class="col-xl-6 col-xs-6">
					<div class="content-poll">
						<p>Sachin Tendulkar</p>
						<span> 40% </span>
						<div class="progress">
							<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
							  40%
							</div>
						 </div>
					</div>
				</div>
				<div class="col-xl-6 col-xs-6">
					<div class="content-poll">
						<p>Rohit Sharma</p>
						<span> 40% </span>
						 <div class="progress">
							<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
							  40%
							</div>
						 </div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xl-6 col-xs-6">
					<div class="content-poll">
						<p> Sehwaag </p>
						<span> 40% </span>
						<div class="progress">
							<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
							  40%
							</div>
						 </div>
					</div>
				</div>
				<div class="col-xl-6 col-xs-6">
					<div class="content-poll">
						<p>Viraat Kohli</p>
						<span> 40% </span>
						<div class="progress">
							<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
							  40%
							</div>
						 </div>
					</div>
				</div>
			</div>
		</div>
		
		
	
		
		
		<div class="poll-grid" id="poll-layout-two" style="display:none;">
			<p>Who is the Best Batsmen in IPL 20191?</p>
			<div class="row">
				<div class="col-xl-12">
					<div class="content-poll">
						<label class="radio-container"> One
							<input type="radio" checked="checked" name="radio">
							<span class="checkmark"></span>
						</label>
						<div class="result-poll">
							50%
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xl-12">
					<div class="content-poll">
						<label class="radio-container"> One
							<input type="radio" checked="checked" name="radio">
							<span class="checkmark"></span>
						</label>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xl-12">
					<div class="content-poll">
						<label class="radio-container"> One
							<input type="radio" checked="checked" name="radio">
							<span class="checkmark"></span>
						</label>
					</div>
				</div>
			</div>
		</div>

		<div class="poll-grid" id="poll-layout-image" style="display:none;">
			<div class="row">
				<div class="col-xl-12">
					
						<h4>Skipped</h4>
						<h4>Thank You!</h4>
					
				</div>
			</div>
		</div>
		
		
	
	
		<div class="poll-grid" id="poll-layout-three" style="display:none;">
			<p>Who is the Best Batsmen in IPL 20191?</p>
			<div class="row">
				<div class="col-xl-12">
					 <div class="wrapper">
						<div class="rating_text">
							<h4 class="rating_text1" style="display:block"> Very Bad </h4>
							<h4 class="rating_text2"> Bad </h4>
							<h4 class="rating_text3"> Good </h4>
							<h4 class="rating_text4"> Very Good </h4>
							<h4 class="rating_text5"> Execellent </h4>
						</div>
						<div class="rating">
							<input id="rating5" type="radio" name="rating" value="5">
							<label for="rating5">5</label>
							<input id="rating4" type="radio" name="rating" value="4">
							<label for="rating4">4</label>
							<input id="rating3" type="radio" name="rating" value="3">
							<label for="rating3">3</label>
							<input id="rating2" type="radio" name="rating" value="2" >
							<label for="rating2">2</label>
							<input id="rating1" type="radio" name="rating" value="1" checked>
							<label for="rating1">1</label>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		
		
		
		<div class="poll-grid" id="poll-layout-four" style="display:none;">
			<p>Who is the Best Batsmen in IPL 20191?</p>
			<div class="row">
				<div class="col-xl-6 col-xs-6">
					<div class="content-poll poll-option-images_1">
						<div class="option-overlay"></div>
						<div class="progress">
							<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
							  40%
							</div>
						 </div>
					</div>
				</div>
				<div class="col-xl-6 col-xs-6">
					<div class="content-poll poll-option-images_2">
						<div class="option-overlay"></div>
						<div class="progress">
							<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
							  40%
							</div>
						 </div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xl-6 col-xs-6">
					<div class="content-poll poll-option-images_3">
						<div class="option-overlay"></div>
						<div class="progress">
							<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
							  40%
							</div>
						 </div>
					</div>
				</div>
				<div class="col-xl-6 col-xs-6">
					<div class="content-poll poll-option-images_4">
						<div class="option-overlay"></div>
						<div class="progress">
							<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
							  40%
							</div>
						 </div>
					</div>
				</div>
			</div>
		</div>
			
		<span id="poll-prev" onclick="nextPrev(-1)">  <i class="fa fa-angle-double-left" aria-hidden="true"></i>  Prev </span>
		<button class="submit_poll"> SUBMIT </button>
		<span id="poll-next" onclick="nextPrev(1)">  Next <i class="fa fa-angle-double-right" aria-hidden="true"></i> </span> -->
	</div>
<!--First Poll Layout-->

<script type="text/javascript">
var poll_data = '';
var user_data = JSON.parse(localStorage.getItem("user_data"));
var user_id = user_data.user.id;
var poll_data_array = user_data.poll.data;
var p = 0;
var match1 = [];
var match2 = [];
var match3 = [];
var skipped_poll_data = [];
//localStorage.removeItem("skipped_poll");

for (var i = 0; i < poll_data_array.length; i++) {

var r_base = poll_data_array[i].role_base;
var role_base = r_base.split(",");
var u_base = poll_data_array[i].user_base;
var user_base = u_base.split(",");

var u_role = user_data.user.user_role;
var u_base = user_data.user.id;

var watchers_base = poll_data_array[i].watchers;
var watcher =[];
for (q = 0; q < watchers_base.length; q++) {
	watcher[q] = watchers_base[q].id;
}

var current_date = new Date();
var current_time = current_date.getTime();
var user_end_date_poll = poll_data_array[i].user_end_date;
var poll_date = new Date(user_end_date_poll.replace(' ', 'T'));
var poll_time = poll_date.getTime();
console.log("poll_time");
console.log(poll_data_array[i].user_end_date);
console.log(poll_date);
console.log(poll_time);
console.log("poll_time");

if((current_time <= poll_time) && (poll_data_array[i].running_status == 1) && (poll_data_array[i].completed == "new") && (inArray(u_role, role_base) || inArray(u_base, user_base))){

	$('.poll_indicator').show();

	if(localStorage.getItem('skipped_poll') != null){
        if(!inArray(poll_data_array[i].id, JSON.parse(localStorage.getItem('skipped_poll')))){

var option = poll_data_array[i].options;
var options = option.split(",");


poll_data += '<div id="poll'+p+'" style="display:none;">';
if(poll_data_array[i].is_mandatory == 0){
poll_data += '<span class="close poll-close" id="poll-close'+p+'" data-poll_no="'+p+'" data-poll_id="'+poll_data_array[i].id+'"><img src="assets/cross.png"></span>';
}
if(poll_data_array[i].layout_id == 1){

poll_data += '<div class="poll-grid" id="poll-layout-'+p+'"><p>';
if(poll_data_array[i].is_mandatory == 0){
poll_data += '<span> <i class="fa fa-bullhorn" aria-hidden="true"></i> </span>';
}else{
poll_data += '<span class="blinking"> <i class="fa fa-bullhorn" aria-hidden="true"></i> </span>';
}
poll_data += poll_data_array[i].question+'</p>';

poll_data += '<div class="row">';
var o_c = 1;
for (var o = 0; o < options.length; o++) {

poll_data += '<div class="col-xl-6 col-xs-6"><div class="content-poll" data-option="'+options[o]+'"><p>'+options[o]+'</p></div></div>';
if(o_c%2 == 0){
poll_data += '</div><div class="row">';
}
o_c++;
} //options for end
poll_data += '</div><h4> Expires: '+formatDate_last_regs(poll_data_array[i].user_end_date_show,3)+' </h4></div>';

}else if(poll_data_array[i].layout_id == 2){

poll_data += '<div class="poll-grid" id="poll-layout-'+p+'"><p>';
if(poll_data_array[i].is_mandatory == 0){
poll_data += '<span> <i class="fa fa-bullhorn" aria-hidden="true"></i> </span>';
}else{
poll_data += '<span class="blinking"> <i class="fa fa-bullhorn" aria-hidden="true"></i> </span>';
}
poll_data += poll_data_array[i].question+'</p>';
for (var o = 0; o < options.length; o++) {
poll_data += '<div class="row"><div class="col-xl-12"><div class="content-poll"><label class="radio-container"> '+options[o]+'<input type="radio" name="ans'+p+'" id="ans'+p+'" class="ans'+p+'" value="'+options[o]+'"><span class="checkmark"></span></label></div></div></div>';
} //options for end
poll_data += '<h4> Expires: '+formatDate_last_regs(poll_data_array[i].user_end_date_show,3)+' </h4></div>';

}else if(poll_data_array[i].layout_id == 3){

poll_data += '<div class="poll-grid" id="poll-layout-'+p+'"><p>';
if(poll_data_array[i].is_mandatory == 0){
poll_data += '<span> <i class="fa fa-bullhorn" aria-hidden="true"></i> </span>';
}else{
poll_data += '<span class="blinking"> <i class="fa fa-bullhorn" aria-hidden="true"></i> </span>';
}
poll_data += poll_data_array[i].question+'</p>';
poll_data +='<div class="row"><div class="col-xl-12"><div class="wrapper"><div class="rating_text">';
var o_s = 1;
for (var o = 0; o < options.length; o++) {
poll_data +='<h4 class="rating_text'+o_s+' ratings" data-rating="'+options[o]+'"> '+options[o]+' </h4>';
o_s++;
}
poll_data +='</div><div class="rating">';
var o_l = options.length;
for (var o = options.length; o > 0; o--) {
poll_data +='<input id="rating'+o_l+'" type="radio" name="rating" value="'+o_l+'"><label for="rating'+o_l+'">'+o_l+'</label>';
o_l--;
}
poll_data +='</div></div></div></div><h4> Expires: '+formatDate_last_regs(poll_data_array[i].user_end_date_show,3)+' </h4></div>';

} //layout3 check end
poll_data += '<span id="poll-prev'+p+'" class="poll-prev" data-poll_no="'+p+'" style="display:inline-block;"><i class="fa fa-angle-double-left" aria-hidden="true"></i>Prev</span><button id="submit_poll'+p+'" class="submit_poll" data-poll_no="'+p+'" data-layout_id="'+poll_data_array[i].layout_id+'" data-user_id="'+user_id+'" data-poll_id="'+poll_data_array[i].id+'" data-ques_id="'+poll_data_array[i].question_id+'">SUBMIT</button><span id="poll-next'+p+'" class="poll-next" data-poll_no="'+p+'" style="display:inline-block;">Next<i class="fa fa-angle-double-right" aria-hidden="true"></i></span></div>';

match1.push(p);
p++;

} //skipped_poll check
} //skipped_poll null if check end
else{

var option = poll_data_array[i].options;
var options = option.split(",");


poll_data += '<div id="poll'+p+'" style="display:none;">';
if(poll_data_array[i].is_mandatory == 0){
poll_data += '<span class="close poll-close" id="poll-close'+p+'" data-poll_no="'+p+'" data-poll_id="'+poll_data_array[i].id+'"><img src="assets/cross.png"></span>';
}
if(poll_data_array[i].layout_id == 1){

poll_data += '<div class="poll-grid" id="poll-layout-'+p+'"><p>';
if(poll_data_array[i].is_mandatory == 0){
poll_data += '<span> <i class="fa fa-bullhorn" aria-hidden="true"></i> </span>';
}else{
poll_data += '<span class="blinking"> <i class="fa fa-bullhorn" aria-hidden="true"></i> </span>';
}
poll_data += poll_data_array[i].question+'</p>';

poll_data += '<div class="row">';
var o_c = 1;
for (var o = 0; o < options.length; o++) {

poll_data += '<div class="col-xl-6 col-xs-6"><div class="content-poll" data-option="'+options[o]+'"><p>'+options[o]+'</p></div></div>';
if(o_c%2 == 0){
poll_data += '</div><div class="row">';
}
o_c++;
} //options for end
poll_data += '</div><h4> Expires: '+formatDate_last_regs(poll_data_array[i].user_end_date_show,3)+' </h4></div>';

}else if(poll_data_array[i].layout_id == 2){

poll_data += '<div class="poll-grid" id="poll-layout-'+p+'"><p>';
if(poll_data_array[i].is_mandatory == 0){
poll_data += '<span> <i class="fa fa-bullhorn" aria-hidden="true"></i> </span>';
}else{
poll_data += '<span class="blinking"> <i class="fa fa-bullhorn" aria-hidden="true"></i> </span>';
}
poll_data += poll_data_array[i].question+'</p>';
for (var o = 0; o < options.length; o++) {
poll_data += '<div class="row"><div class="col-xl-12"><div class="content-poll"><label class="radio-container"> '+options[o]+'<input type="radio" name="ans'+p+'" id="ans'+p+'" class="ans'+p+'" value="'+options[o]+'"><span class="checkmark"></span></label></div></div></div>';
} //options for end
poll_data += '<h4> Expires: '+formatDate_last_regs(poll_data_array[i].user_end_date_show,3)+' </h4></div>';

}else if(poll_data_array[i].layout_id == 3){

poll_data += '<div class="poll-grid" id="poll-layout-'+p+'"><p>';
if(poll_data_array[i].is_mandatory == 0){
poll_data += '<span> <i class="fa fa-bullhorn" aria-hidden="true"></i> </span>';
}else{
poll_data += '<span class="blinking"> <i class="fa fa-bullhorn" aria-hidden="true"></i> </span>';
}
poll_data += poll_data_array[i].question+'</p>';
poll_data +='<div class="row"><div class="col-xl-12"><div class="wrapper"><div class="rating_text">';
var o_s = 1;
for (var o = 0; o < options.length; o++) {
poll_data +='<h4 class="rating_text'+o_s+' ratings" data-rating="'+options[o]+'"> '+options[o]+' </h4>';
o_s++;
}
poll_data +='</div><div class="rating">';
var o_l = options.length;
for (var o = options.length; o > 0; o--) {
poll_data +='<input id="rating'+o_l+'" type="radio" name="rating" value="'+o_l+'"><label for="rating'+o_l+'">'+o_l+'</label>';
o_l--;
}
poll_data +='</div></div></div></div><h4> Expires: '+formatDate_last_regs(poll_data_array[i].user_end_date_show,3)+' </h4></div>';

} //layout3 check end
poll_data += '<span id="poll-prev'+p+'" class="poll-prev" data-poll_no="'+p+'" style="display:inline-block;"><i class="fa fa-angle-double-left" aria-hidden="true"></i>Prev</span><button id="submit_poll'+p+'" class="submit_poll" data-poll_no="'+p+'" data-layout_id="'+poll_data_array[i].layout_id+'" data-user_id="'+user_id+'" data-poll_id="'+poll_data_array[i].id+'" data-ques_id="'+poll_data_array[i].question_id+'">SUBMIT</button><span id="poll-next'+p+'" class="poll-next" data-poll_no="'+p+'" style="display:inline-block;">Next<i class="fa fa-angle-double-right" aria-hidden="true"></i></span></div>';

match1.push(p);
p++;

}//skipped_poll else null check end
} //user_end_date, running status and user poll check end
} //poll_data_array for end

  console.log(poll_data);
  console.log("poll_data");
  console.log(match1);
  if(poll_data != ''){
  	document.getElementById("poll-container").innerHTML = poll_data;
  	p_next = p-1;
  	document.getElementById("poll0").style.display = "block";
  	document.getElementById("poll-prev0").style.display = "none";
  	document.getElementById("poll-next"+p_next).style.display = "none";

  	setTimeout(function(){
     $(".poll-overlay").fadeIn('fast', function(){
		$(".poll-container").fadeIn('fast');
		disableScroll();
			});
		},1000);

	} //poll_data if empty check end

	function inArray(needle, haystack) {
    var length = haystack.length;
    for(var i = 0; i < length; i++) {
        if(haystack[i] == needle) return true;
    }
    return false;
	}

	$(".poll-prev").click(function(){
		var c_p_no = $(this).data('poll_no');
		
		var p_p_no =  c_p_no - 1;
		document.getElementById("poll"+c_p_no).style.display = "none";
		document.getElementById("poll"+p_p_no).style.display = "block";
		
	});

	$(".poll-next").click(function(){
		var c_p_no = $(this).data('poll_no');
		var n_p_no = c_p_no + 1;
	
		document.getElementById("poll"+c_p_no).style.display = "none";
		document.getElementById("poll"+n_p_no).style.display = "block";
		
	});

	function formatDate_last_regs(d,type)
	{
	    var day, month, year;
	    var days = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"];
	    var monthNames = [
	    "Jan", "Feb", "March",
	    "April", "May", "Jun", "July",
	    "Aug", "Sept", "Oct",
	    "Nov", "Dec"
	  ];
	    var month_index = ['0','1','2','3','4','5','6','7','8','9','10','11'];
	    
	    result = d.match("[0-9]{2}([\-/ \.])[0-9]{2}[\-/ \.][0-9]{4}");
	    if(null != result) {
	        dateSplitted = result[0].split(result[1]);
	        day = dateSplitted[0];
	        month = dateSplitted[1];
	        year = dateSplitted[2];
	    }
	    result = d.match("[0-9]{4}([\-/ \.])[0-9]{2}[\-/ \.][0-9]{2}");
	    if(null != result) {
	        dateSplitted = result[0].split(result[1]);
	        day = dateSplitted[2];
	        month = dateSplitted[1];
	        year = dateSplitted[0];
	    }
	    
	    
	    if(month>12) {
	        aux = day;
	        day = month;
	        month = aux;
	    }
	    var monthint;
	    var our_request_date_time=d.split(' ');
	    var outtime=our_request_date_time[1];
	    var ourtime_format=our_request_date_time[2];
	    if((monthint=parseInt(month)<10)){
	    month = month.substring(1, month.month);
	    }
	    var ourdate=new Date(monthNames[month-1]+' '+day+' '+year);
	    var ourdays=ourdate.getDay();
	    
	//    return year+"/"+monthNames[month-1]+"/"+day+'  '+result;
	    if(type==1){
	        return outtime+' '+ourtime_format+', '+days[ourdate.getDay()]+', '+day + ' ' +monthNames[month-1];
	    }
	    else if(type==2){
	        return days[ourdate.getDay()]+', '+day + ' ' +monthNames[month-1];
	    }
	    else if(type==3){
	        return outtime+' '+ourtime_format+', '+day + ' ' +monthNames[month-1];
	    }
	   // return ourdays;
	    
	}


// left: 37, up: 38, right: 39, down: 40,
// spacebar: 32, pageup: 33, pagedown: 34, end: 35, home: 36


	function disableScroll() {
		$('body').css('overflow', 'hidden');
}

function enableScroll() {
	$('body').css('overflow', 'auto');
}

</script>

<script>
/*---- JQUERY FOR POLL SCREEN---- */
              
   /*$(".poll-overlay").click(function(){
		$(".poll-container").fadeOut('fast');
		$(".poll-result-container").fadeOut('fast');
		$(".poll-list-container").fadeOut('fast');
		$(this).fadeOut('fast');
	});*/
  $(".poll-close").click(function(){
    /* $(".poll-container").fadeOut('fast');
     $(".poll-overlay").fadeOut('fast');*/

     var poll_p_no = $(this).data('poll_no');
     var poll_id = $(this).data('poll_id');

     document.getElementById("poll-layout-"+poll_p_no).innerHTML = '<div class="row"><div class="col-xl-12"><h4>Skipped</h4></div></div>';

     $("#poll-layout-"+poll_p_no+" .row").css('margin','0');
     $("#poll"+poll_p_no+" button").css("visibility","hidden");
     $("#poll-close"+poll_p_no).css("visibility","hidden");

     match2.push(poll_p_no);

     if(!arrayDiff(match1, match2).length){
     	console.log("MATCHED");
     	setTimeout(function(){ 
     	$(".poll-container").fadeOut('fast');
    	$(".poll-overlay").fadeOut('fast');
    	enableScroll();
     	}, 1000);
     	
     }else{
     	console.log("NOT MATCHED");
     	
     }

     if(localStorage.getItem('skipped_poll')){
	        skipped_poll_data = JSON.parse(localStorage.getItem('skipped_poll'));
	        skipped_poll_data.push(poll_id);
	        localStorage.setItem('skipped_poll', JSON.stringify(skipped_poll_data));
	        console.log(localStorage.getItem('skipped_poll'));
	        console.log('skipped_poll');
	    }else{
	    	skipped_poll_data.push(poll_id);
	        localStorage.setItem('skipped_poll', JSON.stringify(skipped_poll_data));
	        console.log(localStorage.getItem('skipped_poll'));
	        console.log('skipped_poll');
	    }
  });
  /*$(".close").click(function(){
	$(".poll-overlay").fadeOut('fast');
	$(".poll-result-container").fadeOut('fast');
  });
  $(".close").click(function(){
	$(".poll-overlay").fadeOut('fast');
	$(".poll-list-container").fadeOut();
	});*/

	$(".poll-result-container .close").click(function(){
	$(".poll-overlay").fadeIn('fast');
	$(".poll-result-container").fadeOut('fast');
	$(".poll-list-container").fadeIn('fast');  });

   $(".poll-result-back").click(function(){
		$(".poll-result-container").fadeOut('fast' , function(){
			$(".poll-list-container").fadeIn('fast');
		});
  });
  $(".content-poll").click(function(){
		$(".poll-container .content-poll").removeClass("poll-active");
		$(this).addClass("poll-active");
	});
  $(".poll-container .submit_poll").click(function(){
		/*$(".content-poll").find("p").animate({marginBottom:"10px"});
		$(".content-poll").find("span").animate({bottom:"50px",opacity:"1"});
		$(".content-poll").find(".progress").animate({left:"5px",opacity:"1"});
		$(".content-poll").find(".result-poll").animate({right:"0px"});*/

		var p_no =  $(this).data('poll_no');
		var l_id =  $(this).data('layout_id');
		var u_id =  $(this).data('user_id');
		var p_id =  $(this).data('poll_id');
		var q_id =  $(this).data('ques_id');

		if(l_id == 1){
			var p_ans = $('.poll-active').data('option');
		}else if(l_id == 2){
			var p_ans = $("input:radio[name=ans"+p_no+"]:checked").val();
		}else if(l_id == 3){
			var p_ans = $('.ratingData').data('rating');
		}
		//alert(p_ans);
		///////////////// poll submit using rest api................

		    	if(p_ans != '' && p_ans!= undefined){

			    	var data_type={"user_id": u_id,"poll_id": p_id,"question_id": q_id,"answer": p_ans};

						console.log(data_type);

						$.ajax({

                        async: true,

                        crossDomain: true,

						url: localStorage.getItem("base_url")+'pollanswer',

						contentType: 'application/json; charset=utf-8',

						data: JSON.stringify(data_type),

						ContentType: 'application/json',

						type : 'POST',

						dataType : 'json',

						async: false,

						success : function (output) {

							if (output.status==1000){

								console.log(output.message);

								document.getElementById("poll-layout-"+p_no).innerHTML = '<div class="row"><div class="col-xl-12"><h4>Thank You!</h4></div></div>';

     							$("#poll-layout-"+p_no+" .row").css('margin','0');
     							$("#poll"+p_no+" button").css("visibility","hidden");
     							$("#poll-close"+p_no).css("visibility","hidden");

     							match2.push(p_no);
     							match3.push(p_no);

     							if(!arrayDiff(match1, match3).length){
							     	$('.poll_indicator').css('display','none');
							     }

							     if(!arrayDiff(match1, match2).length){
							     	console.log("MATCHED");
							     	setTimeout(function(){ 
							     	$(".poll-container").fadeOut('fast');
     								$(".poll-overlay").fadeOut('fast');
     								enableScroll();
     								 $.getScript("js/activation_data.js");
							     	},1000);
							     }else{
							     	console.log("NOT MATCHED");
							     	
							     }

							}else{

								console.log(output.message);

							}

						},

						error : function(){

							alert("Error in loading records. Please refresh the page and try again.");

						}

						});

					}else{
						alert("Please select option.");
					} 

		    	////////////////
  });

  function arrayDiff(a1, a2) {
  var o1={}, o2={}, diff=[], i, len, k;
  for (i=0, len=a1.length; i<len; i++) { o1[a1[i]] = true; }
  for (i=0, len=a2.length; i<len; i++) { o2[a2[i]] = true; }
  for (k in o1) { if (!(k in o2)) { diff.push(k); } }
  for (k in o2) { if (!(k in o1)) { diff.push(k); } }
  return diff;
}

  $("#rating1").click(function(){
	$('.rating_text5').hide();
	$('.rating_text4').hide();
	$('.rating_text3').hide();
	$('.rating_text2').hide();
	$('.rating_text1').fadeIn('3000');
	$(".ratings").removeClass("ratingData");
	$('.rating_text1').addClass("ratingData");
  });
  $("#rating2").click(function(){
	$('.rating_text5').hide();
	$('.rating_text4').hide();
	$('.rating_text3').hide();
	$('.rating_text1').hide();
	$('.rating_text2').fadeIn('3000');
	$(".ratings").removeClass("ratingData");
	$('.rating_text2').addClass("ratingData");
  });
  $("#rating3").click(function(){
	$('.rating_text5').hide();
	$('.rating_text4').hide();
	$('.rating_text2').hide();
	$('.rating_text1').hide();
	$('.rating_text3').fadeIn('3000');
	$(".ratings").removeClass("ratingData");
	$('.rating_text3').addClass("ratingData");	
  });
  $("#rating4").click(function(){
	$('.rating_text5').hide();
	$('.rating_text2').hide();
	$('.rating_text1').hide();
	$('.rating_text3').hide();
	$('.rating_text4').fadeIn('3000');
	$(".ratings").removeClass("ratingData");
	$('.rating_text4').addClass("ratingData");	
  });
  $("#rating5").click(function(){
	$('.rating_text2').hide();
	$('.rating_text1').hide();
	$('.rating_text3').hide();
	$('.rating_text4').hide();
	$('.rating_text5').fadeIn('3000');
	$(".ratings").removeClass("ratingData");
	$('.rating_text5').addClass("ratingData");	
  });
 /* <!-- $(".poll-next").click(function(){ -->
	<!-- $(this).parent(".poll-grid").hide(); -->
	<!-- $(this).parent(".poll-grid").next(".poll-grid").show(); -->
  <!-- }); -->
  <!-- $(".poll-prev").click(function(){ -->
	<!-- $(this).parent(".poll-grid").hide(); -->
	<!-- $(this).parent(".poll-grid").prev(".poll-grid").show(); -->
  <!-- }); -->*/
  
  $(".poll-detail-result").click(function(){
	$(".poll-overlay").fadeIn('fast', function(){
		$(".poll-result-container").fadeIn('fast');
	});
	$(".poll-list-container").hide();
  });
  $(".poll_layout_one").click(function(){
	$("#poll-layout-two").hide();
	$("#poll-layout-three").hide();
	$("#poll-layout-four").hide();
	$(".poll-overlay").fadeIn('fast', function(){
		$(".poll-container").fadeIn('fast' , function(){
			$("#poll-layout-one").fadeIn();
		});
	});
	$(".poll-list-container").hide();
  });
  $(".poll_layout_two").click(function(){
	$("#poll-layout-one").hide();
	$("#poll-layout-three").hide();
	$("#poll-layout-four").hide();
	$(".poll-overlay").fadeIn('fast', function(){
		$(".poll-container").fadeIn('fast' , function(){
			$("#poll-layout-two").fadeIn();
		});
	});
	$(".poll-list-container").hide();
  });
  $(".poll_layout_three").click(function(){
	$("#poll-layout-two").hide();
	$("#poll-layout-one").hide();
	$("#poll-layout-four").hide();
	$(".poll-overlay").fadeIn('fast', function(){
		$(".poll-container").fadeIn('fast' , function(){
			$("#poll-layout-three").fadeIn();
		});
	});
	$(".poll-list-container").hide();
  });
  $(".poll_layout_four").click(function(){
	$("#poll-layout-two").hide();
	$("#poll-layout-three").hide();
	$("#poll-layout-one").hide();
	$(".poll-overlay").fadeIn('fast', function(){
		$(".poll-container").fadeIn('fast' , function(){
			$("#poll-layout-four").fadeIn();
		});
	});
	$(".poll-list-container").hide();
  });

  
  
/*var currentTab = 0; // Current tab is set to be the first tab (0)
showTab(currentTab); // Display the current tab

function showTab(n) {
  // This function will display the specified tab of the form...
  var x = document.getElementsByClassName("poll-grid");
  x[n].style.display = "block";
  //... and fix the Previous/Next buttons:
  if (n == 0) {
	$("#poll-next").show();
	$("#poll-prev").hide();
  }
	else {
  $("#poll-prev").show();
  }
  
  if (n == (x.length - 1)) {
  $("#poll-next").hide();
  $("#poll-prev").show();
  } 
	else {
  $("#poll-next").show();
  }

}*/

/*function nextPrev(n) {
  // This function will figure out which tab to display
  var x = document.getElementsByClassName("poll-grid");
  // Hide the current tab:
  x[currentTab].style.display = "none";
  // Increase or decrease the current tab by 1:
  currentTab = currentTab + n;
  // Otherwise, display the correct tab:
  showTab(currentTab);
}*/

$(".poll-option-images_1").click(function(){
	$(".poll-option-images_2 .option-overlay").fadeOut();
	$(".poll-option-images_4 .option-overlay").fadeOut();
	$(".poll-option-images_3 .option-overlay").fadeOut();
	$(".poll-option-images_1 .option-overlay").fadeIn();
});
$(".poll-option-images_2").click(function(){
	$(".poll-option-images_1 .option-overlay").fadeOut();
	$(".poll-option-images_4 .option-overlay").fadeOut();
	$(".poll-option-images_3 .option-overlay").fadeOut();
	$(".poll-option-images_2 .option-overlay").fadeIn();
});
$(".poll-option-images_3").click(function(){
	$(".poll-option-images_1 .option-overlay").fadeOut();
	$(".poll-option-images_4 .option-overlay").fadeOut();
	$(".poll-option-images_2 .option-overlay").fadeOut();
	$(".poll-option-images_3 .option-overlay").fadeIn();
});
$(".poll-option-images_4").click(function(){
	$(".poll-option-images_1 .option-overlay").fadeOut();
	$(".poll-option-images_3 .option-overlay").fadeOut();
	$(".poll-option-images_2 .option-overlay").fadeOut();
	$(".poll-option-images_4 .option-overlay").fadeIn();
});
</script>


