
<div class="post-screen"><!-- This Screen Is Enable on Click of New Post Options -->
  <div class="post-holder">
    <div class="red-bar">
      <img src="assets/close-icon.svg" class="close-post"> <span>Feed Post</span>
    </div>
    <div class="text-area">
      <form autocomplete="off" >
        <div class="form-group">
          <textarea class="form-control" id="post-message" placeholder="Type Your Post Here..." autofocus="" value="" onkeydown="return myKeyPress(event)"></textarea>
          <input type="hidden" name="mention_user_id" id="mention_user_id" value="">
        </div>
        <button id="feed-post" type="button">Post</button>
      </form>
      <div class="mention scrollmenu" id="mention">
        <!-- <a href="#" class="mention-user"  id="12"><span class="mention-image"><img src="assets/pic.png"></span> <span class="mention-name">Ravi Verma</span></a> -->
      </div>
    </div>
  </div>
</div><!-- This Screen Is Enable on Click of New Post Options -->

<script>

  var company_data = JSON.parse(localStorage.getItem("activation"));  

       $('.red-bar').css('background-color',company_data.company.header_color);
       $('.red-bar').css('color',company_data.company.normal_text_color);
       $('#feed-post').css('background-color',company_data.company.button_bg_color);
       $('#feed-post').css('color',company_data.company.button_text_color);
  

  function myKeyPress(e){
    var keynum;
//alert("Ravi");
    if(window.event) { // IE                    
      keynum = e.keyCode;
       //console.log("AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA")
    }else if(e.which){ // Netscape/Firefox/Opera                   
      keynum = e.which;
       //console.log("BBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB")
    }
    //console.log("cccccccccccccccccccccccccccccccccccccccccccc")
    //console.log(e);
    //console.log(keynum);
    //console.log(String.fromCharCode(keynum));
    //console.log(e.key);
    if(e.key == '@' || String.fromCharCode(keynum) == 'å'){
    //$(".mention").fadeIn();// live
    //$('#scrollmenu').css('display','inline-block');
    $("#post-message").on("keyup", function() {

            var value = $(this).val().toLowerCase();
            var new_value = value;
            var lastChar = value[value.length -1];
            var n = value.search("@");
            //console.log(value.length);
            
            value = value.split('@');
            // value = value.substring(value.length-1, value.length);
           // console.log(value);
            var value_final=value[value.length-1];
           if (new_value == '' || (lastChar != '@' && value_final =='') || n <0) {
            //console.log("1");
            //alert(new_value);
            //alert(lastChar);
            //alert(value_final);
            $(".mention").fadeOut();}else{
            
             // console.log("2");
              $(".mention").fadeIn();
            // value = value.substring(1,value.length)
            // value = value.substring
            $(".mention a").filter(function() {
              
              $(this).toggle($(this).text().toLowerCase().indexOf(value_final) > -1);
            });
          
            if(value_final ==' '){$(".mention").fadeOut();}
          //}
          }
          });
    }else{
     var value1 = $(this).val().toLowerCase();
     value1 = value1.trim();
     if (value1 == '') {$(".mention").fadeOut();}
   }
  }


        //   setTimeout(function(){
        // $(".dots").click(function(){
        //      $(".feed-list").slideToggle("fast");
        //   });

        //   },1000)

//         var participants = JSON.parse(localStorage.getItem("participants"));
//   var mention_users = "<ul>";
//   for (var m = 0; m < participants.length; m++) {
//     mention_users += "<li class='mention-user' id='"+participants[m].id+"' data-name='"+participants[m].displayName+"'><span class='mention-image'><img src='";
//     if(participants[m].avatarUrl == ''){mention_users += "assets/pic.png";}else{mention_users += participants[m].avatarUrl;}
//     mention_users += "'></span> <span class='mention-name'>"+participants[m].displayName+"</span></li>";
//   }
// mention_users += "</ul>";
// document.getElementById("mention").innerHTML = mention_users;
            
 


   


</script>