<div class="profile-bar" id="own-profile-bar"><!-- Profile Bar Enables on Click of User Image -->
  <div class="profile-wrapper">
    <div class="profile-nav"><!-- Profile Navigation Starts Here -->

      <p id='display-name-owner' class="left-section">User Name <span class="edit-profile"><i class="fa fa-pencil" aria-hidden="true"></i></span></p>
      <span class="close"><img src="assets/close-icon.svg" class="close-post"></span>
      <div class="numbers">
        <div class="links">
          <div class="likes">
            <span id='user_likes'>0</span>
            <span>Likes</span>
          </div>
          <div class="likes">
            <span id='user_comments'>0</span>
            <span>Comments</span>
          </div>
          <!-- <div class="likes">
            <span id='user_posts'>0</span>
            <span>Posts</span>
          </div> -->
        </div>
        <!-- <div class="view-details">
          <a href="#">View More</a>
        </div> -->
      </div>
    </div><!-- Profile Navigation Starts Here -->
   <!--  <a href="#"><div class="profile-message">
      <span>
       <i class="fa fa-envelope" aria-hidden="true"></i>
       <i style="display: none;" class="fa fa-camera" aria-hidden="true"></i>
       Message
     </span>
    </div></a> -->
  </div>
</div><!-- Profile Bar Enables on Click of User Image -->