<div class="slider-bar" id="slider-bar">
      <div class="logo"><img id='company_logo' src="assets/favicon.png"></div>
      <div class="feedback-a" id="module"></div>
      <div class="popup-overlay"></div>
      <div id="popup-screen"></div><!--Popup Screen Included Here-->
      <div id="search_include"></div>
      <div class="feedback-b">
        <span class="feed-icons">
            <i class="fa fa-search main-search" aria-hidden="true"></i>
        
          <!--  <i class="fa fa-bell-o" aria-hidden="true"></i> -->
          <i class="fa" id="my_notifications" aria-hidden="true"></i>
      
          
          <i class="fa fa-ellipsis-v dots" aria-hidden="true"></i>
          <div class="feed-list">
          <ul>
            <a href="#" class="open-profile"><li>
              <i class="fa fa-user-o" aria-hidden="true"></i> <span>View Profile</span>
            </li></a>
<!--
            <a href="#"><li>
              <i class="fa fa-user-o" aria-hidden="true"></i> <span>Profile</span>
            </li></a>
            <a href="#"><li>
              <i class="fa fa-inr" aria-hidden="true"></i> <span>Sponcers</span>
            </li></a>
            <a href="#"><li>
              <i class="fa fa-certificate" aria-hidden="true"></i> <span>Event Organisers</span>
            </li></a>
            <a href="#"><li>
              <i class="fa fa-line-chart" aria-hidden="true"></i> <span>Reports</span>
            </li></a>

-->          
<a  href="" class='version'><li>
              <i class="fa fa-cog" aria-hidden="true"></i> <span>version 1.1.</span>
            </li></a>
<a  href="" class='lastdep'><li>
              <i class="fa fa-bolt" aria-hidden="true"></i> <span>LD 27-06-2019</span>
            </li></a>
                <a  href="javascript:localStorage.clear();window.location.href='index.html';Engagespot.clearUser();"><li>
              <i class="fa fa-sign-out" aria-hidden="true"></i> <span>Logout</span>
            </li></a>
            
          </ul>
        </div>
        </span>
<!--        <a href="javascript:localStorage.clear();window.location.href='/buzz/home';">Logout</a>-->
      </div>
</div>

<!-- <div id="chat_include"></div> -->

<script type="text/javascript">

$.get("includes/search-bar.html", function(fileData){
          $('#search_include').html(fileData); 
          //console.log("search_bar")
        });
       var company_data = JSON.parse(localStorage.getItem("activation"));  
        //console.log(company_data);
        //console.log("//Company//");
       //$('#slider-bar').css('background-color',company_data.company.header_color);
       $('#slider-bar').css('background-image','linear-gradient(93deg,'+company_data.company.status_bar_color+','+company_data.company.header_color+')');
       $('#module').css('color',company_data.company.normal_text_color);
       $('#company_logo').attr('src',company_data.company.logo);
     // we're ready, include away
      $(window).ready(function(){

        if(localStorage.getItem('server')=='live'){
          $(".version").css('display','none');
          $(".lastdep").css('display','none');  
      }

        var company_info=JSON.parse(localStorage.getItem("activation"));
        $('#company_logo').attr('src',company_info.company.logo);

         
      $(".main-search").click(function(){
            $("#search_include").slideToggle("fast");

            $("#close-search").click(function(){
            $("#search_include").slideUp("fast");
             $(".search-list").fadeOut();     
           });
             $(".search-input").keyup(function(){
              $(".search-list").fadeIn('fast');
              
            });

            $("#search-input").on('keyup', function() {
              //$(".search-list").fadeIn('fast');
            // console.log('hi this is test ')
            // console.log($("#search-table").children().length);

            var value = $(this).val().toLowerCase();
             //console.log($(this).text().toLowerCase().indexOf(value));
            $("#search-table li").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
              

            });
            
          });

 
        //     $(document).delegate('#search-input', 'keyup', function() {
        //         // code

        //          var value = $(this).val().toLowerCase();
            
        //     $("#search-table li").filter(function() {
              

               
        //        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        //     });


        // });

        });


      $.get("includes/add-user-profile.html", function(fileData){
          $('#insert-profile').html(fileData); 
        });


    $(".open-profile").click(function(){
      $(".feed-list").slideToggle("fast");
       $("#insert-profile").fadeIn();
       $(".feed-overlay").fadeIn();
       $('body,html').css("overflow","hidden");

    var user_data = JSON.parse(localStorage.getItem("user_data"));

    document.getElementById("user_profile_pic").src = user_data.user.avatar;
    document.getElementById("user_old_profile_pic").src = user_data.user.avatar;
    document.getElementById("user_new_profile_pic").src = user_data.user.avatar;
    document.getElementById("profile_user_name").innerHTML = user_data.user.name; 
    });


      });     
      
      /*---------PopUp Start---------------*/
      $(window).on('load', function(){
          if(localStorage.getItem("popup") == 'Active'){
            $('[data-toggle="tooltip"]').tooltip(); 
              $.get("includes/popup.html", function(fileData){
            setTimeout(function(){
              
              $("#popup-screen").html(fileData);
              $(".popup-overlay").fadeIn();
              $(".popup-section").css("transform","scale(1)")
              document.body.scrollTop = 0;
              document.documentElement.scrollTop = 0;
              $('body').css('overflow', 'hidden');
            },10000);    
                
             });
          }
        });

/*--------PopUp End-----------------*/
</script>


<!-- Start Web Push Notification -->
<script type="text/javascript">
  if(localStorage.getItem('device_type')=='browser' || localStorage.getItem('device_type')==null){
  var user_data = JSON.parse(localStorage.getItem("user_data"));

  window.Engagespot={},q=function(e){return function(){(window.engageq=window.engageq||[]).push({f:e,a:arguments})}},f=["captureEvent","subscribe","init","showPrompt","identifyUser","clearUser"];for(k in f)Engagespot[f[k]]=q(f[k]);var s=document.createElement("script");s.type="text/javascript",s.async=!0,s.src="https://cdn.engagespot.co/EngagespotSDK.2.0.js";var x=document.getElementsByTagName("script")[0];x.parentNode.insertBefore(s,x);Engagespot.init('gBjTXrZqbPBC4R5wm7AWEYE7lc4TAv');
Engagespot.identifyUser(user_data.user.id);
/*window.Engagespot={},q=function(e){return function(){(window.engageq=window.engageq||[]).push({f:e,a:arguments})}},f=["captureEvent","subscribe","init","showPrompt","identifyUser","clearUser"];for(k in f)Engagespot[f[k]]=q(f[k]);var s=document.createElement("script");s.type="text/javascript",s.async=!0,s.src="https://cdn.engagespot.co/EngagespotSDK.2.0.js";var x=document.getElementsByTagName("script")[0];x.parentNode.insertBefore(s,x);Engagespot.init('M0xsQEHRjh2WofVqsyHn4DYA2jADE0');
Engagespot.identifyUser(user_data.user.id);*/

//console.log('hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh')


myDivObj = document.getElementById("unreadNotificationCount");
setInterval(function(){
  //console.log(parseInt($('#unreadNotificationCount').html()));
  if(parseInt($('#unreadNotificationCount').html())>0){
   $('#openNC').attr('style','z-index: 0 !important; background: url("https://cdn.engagespot.co/images/bellIcon.svg") 2px 2px no-repeat; box-shadow: none; left: 0px; top: 0px;top: 16px !important');
   //console.log('fkdlasfjsla')
  }else{
    $('#openNC').attr('style','z-index: 0 !important; background: url("https://cdn.engagespot.co/images/bellIcon.svg") 2px 2px no-repeat; box-shadow: none; left: 0px; top: 0px;top: 21px !important');
  }
},1000)

}else{
  //alert('browser'+localStorage.getItem('device_type'));
  var check_close = 0;
  console.log('browser'+localStorage.getItem('device_type'));   
  $("#my_notifications").addClass("fa-bell-o");   
  $('.feed-icons').css('top','0');    
 $.get("includes/mobile_notification.html", function(fileData){   
          $('.fa-bell-o').html(fileData);     
        });   
 $(".popup-overlay").click(function(){    
    $(".clear_notification").fadeOut('fast');   
    $(".notification_container_mobile").fadeOut('fast');    
    $(this).fadeOut();    
  });   
  $(".fa-bell-o").click(function(){   
    if(check_close == 0){   
      localStorage.setItem("bell_notify_dot", "0");   
      var local_notify = localStorage.getItem('my_notify');   
      var notifications = '<div class="row">';    
      if(local_notify !=null){    
      var local_notifications = local_notify.split("||");   
      console.log("//////////Local Notifications////////////"+local_notifications);   
          
      for (var i = 0; i < local_notifications.length; i++) {    
        var parse_notify = JSON.parse(local_notifications[i]);    
        console.log("//////////Split Notifications////////////"+local_notifications[i]);    
        console.log("//////////Parse Notifications////////////"+parse_notify);    
        notifications += '<div class="notification_box" data-redirect="'+parse_notify.redirecturl+'"><div class="row"><div class="col-xl-2 col-xs-2"><div class="users_image">';    
        if(parse_notify.icon_url){    
        notifications += '<img src="'+parse_notify.icon_url+'">';   
        }else{    
        if(parse_notify.redirecturl == 'feed.html'){    
        notifications += '<i class="fa fa-bolt" style="color:red;" aria-hidden="true"></i>';    
        }else if(parse_notify.redirecturl == 'message.html'){   
        notifications += '<i class="fa fa-envelope-open" style="color:red;" aria-hidden="true"></i>';   
        }else if(parse_notify.redirecturl == 'itinerary.html'){   
        notifications += '<i class="fa fa-th-list" style="color:red;" aria-hidden="true"></i>';   
        }else if(parse_notify.redirecturl == 'survey.html'){    
        notifications += '<i class="fa fa-bar-chart" style="color:red;" aria-hidden="true"></i>';   
        }   
        }   
        notifications += '</div></div><div class="col-xl-8 col-xs-8"><div class="users_notification">';   
        notifications += '<p> '+parse_notify.title+' </p>';   
        notifications += '<p> '+parse_notify.text+' </p>';    
                      
        notifications += '</div></div><div class="col-xl-1 col-xs-1"><div class="users_action"><!--<img src="assets/cross.png">--><span>'+push_time(parse_notify.push_time)+'</span></div></div></div></div>';    
        }   
        }// check local notify Null   
        else{   
            notifications += '<div class="no_notify"><img src="assets/no_notification-bee.png"><p>No notification here</p></div>';    
        }   
          notifications += '</div>';    
            
        document.getElementById("notification_body").innerHTML = notifications;   
    $('#bell_notify').css('visibility','hidden');   
    $(".popup-overlay").fadeIn('fast', function(){    
      //console.log("//////////////overlay fadein////");    
      $(".notification_container_mobile").fadeIn('fast');   
      //console.log("//////////////notification_container_mobile fadein////");    
    });   
    $('.notification_box').on("click",function(){   
    var url = $(this).data("redirect");   
    window.location.href = url;   
   });    
  }else{ check_close = 0;}    
  });   
}   
function push_time(milidate){   
  var date2 = new Date();   
  var date1 = new Date(milidate);   
  //Get 1 day in milliseconds   
  var one_day=1000*60*60*24;    
  // Convert both dates to milliseconds   
  var date1_ms = date1.getTime();   
  var date2_ms = date2.getTime();   
  // Calculate the difference in milliseconds   
  var difference_ms = date2_ms - date1_ms;    
  //take out milliseconds   
  difference_ms = difference_ms/1000;   
  var seconds = Math.floor(difference_ms % 60);   
  difference_ms = difference_ms/60;     
  var minutes = Math.floor(difference_ms % 60);   
  difference_ms = difference_ms/60;     
  var hours = Math.floor(difference_ms % 24);     
  var days = Math.floor(difference_ms/24);    
  if(days > 0){   
    return days + ' d';   
  }else if(hours > 0){    
      return hours + ' h';    
    }else if(minutes > 0){    
      return minutes + ' m';    
    }else if(seconds > 0){    
      return seconds + ' s';    
    }   

}
</script>
<!-- End Web Push Notification -->
